/* ---------------------- Home Page ----------------------------------- */
.home-page-child {
    position: absolute;
    top: 81px;
    left: 0px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 30px 30px 0px 0px;
    background-color: #fff;
    width: 375px;
    height: 586px;
}
.home-page-item {
    position: absolute;
    top: 294px;
    left: 22px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: #fff;
    width: 336px;
    height: 261px;
}
.lorem-ipsum-dolor-sit-amet {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 21px;
}
.lorem-ipsum-dolor-container {
    position: absolute;
    top: 407px;
    left: 34px;
    text-decoration: underline;
    display: inline-block;
    width: 295px;
    height: 33px;
}
.lorem-ipsum-dolor-container1 {
    position: absolute;
    top: 308px;
    left: 36px;
    text-decoration: underline;
    display: inline-block;
    width: 295px;
    height: 33px;
}
.lorem-ipsum-dolor-container2 {
    position: absolute;
    top: 374px;
    left: 34px;
    text-decoration: underline;
    display: inline-block;
    width: 295px;
    height: 33px;
}
.lorem-ipsum-dolor-container3 {
    position: absolute;
    top: 341px;
    left: 34px;
    text-decoration: underline;
    display: inline-block;
    width: 295px;
    height: 33px;
}
.about {
    position: absolute;
    top: 262px;
    left: 22px;
    font-size: 20px;
    font-weight: 600;
    color: #1a2a35;
    text-align: left;
    display: flex;
    align-items: center;
    width: 194px;
    height: 32px;
}
.home-page-inner {
    position: absolute;
    top: 149px;
    left: 17px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: #fff;
    width: 197px;
    height: 91px;
}
.lorem-ipsum-dolor {
    position: absolute;
    top: 163px;
    left: 31px;
    text-align: left;
    display: inline-block;
    width: 170px;
    height: 62px;
}
.announcement {
    position: absolute;
    top: 115px;
    left: 22px;
    font-size: 20px;
    font-weight: 600;
    color: #1a2a35;
    text-align: left;
    display: flex;
    align-items: center;
    width: 166px;
    height: 32px;
}
.vector-icon {
    position: absolute;
    height: 2.25%;
    width: 6.4%;
    top: 2.85%;
    right: 90.13%;
    bottom: 94.9%;
    left: 3.47%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
}
.ellipse-div {
    position: absolute;
    top: 14px;
    left: 333px;
    border-radius: 50%;
    background-color: #fff;
    width: 31px;
    height: 31px;
    cursor: pointer;
}
.vector-icon1 {
    position: absolute;
    top: 20px;
    left: 339px;
    width: 19px;
    height: 20px;
}
.e-learning-fc {
    position: absolute;
    top: 14px;
    left: 150px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-align: left;
    display: flex;
    align-items: center;
    width: 102px;
    height: 22px;
}
.faculty-of-computing {
    position: absolute;
    top: 30px;
    left: 150px;
    font-size: 11px;
    font-weight: 300;
    color: #fff;
    text-align: left;
    display: flex;
    align-items: center;
    width: 126px;
    height: 22px;
}
.utm-logo-1-icon {
    position: absolute;
    top: 14px;
    left: 107px;
    width: 36px;
    height: 35px;
    object-fit: cover;
}
.rectangle-div {
    position: absolute;
    top: 149px;
    left: 224px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: #fff;
    width: 197px;
    height: 91px;
}
.lorem-ipsum-dolor1 {
    position: absolute;
    top: 163px;
    left: 238px;
    text-align: left;
    display: inline-block;
    width: 170px;
    height: 62px;
}
.lorem-ipsum-dolor-container4 {
    position: absolute;
    top: 440px;
    left: 34px;
    text-decoration: underline;
    display: inline-block;
    width: 295px;
    height: 33px;
}
.lorem-ipsum-dolor-container5 {
    position: absolute;
    top: 473px;
    left: 36px;
    text-decoration: underline;
    display: inline-block;
    width: 295px;
    height: 33px;
}
.lorem-ipsum-dolor-container6 {
    position: absolute;
    top: 506px;
    left: 34px;
    text-decoration: underline;
    display: inline-block;
    width: 295px;
    height: 33px;
}
.home-page {
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #37566b;
    height: 667px;
    overflow: hidden;
    text-align: justify;
    font-size: 16px;
    color: #464646;
    font-family: Inter;
}

